.modal-content {
    margin-top: 40px;
  }
  .form-input {
    margin-top: 20px;
  }
  .form-input h4 {
    color: aliceblue;
    text-decoration: underline;
    font-size: 26px;
    letter-spacing: 4px;
    margin-bottom: 40px;
  }
  