/* SIDEBAR */
* {
  margin: 0;
  padding: 0;
}
.iconcompany {
  text-align: center;
}
.iconcompany img {
  width: 150px;
}
.sidebar .profile_image {
  width: 80px;
  margin-top: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar h4 {
  font-size: 20px;
  letter-spacing: 3px;
  color: white;
}

center {
  margin-bottom: 50px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #204051;
  transition: all 0.5s ease;
}

.sidebar ul span {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid #3b6978;
  transition: 0.4s;
  letter-spacing: 2px;
  text-decoration: none;
  transition-property: background;
}

ul li:hover span {
  padding-left: 50px;
  text-decoration: none;
  background: #3b6978;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #23739e;
  border-radius: 3px;
}

label #btn {
  left: 40px;
  top: 25px;
  font-size: 30px;
  color: white;
  padding: 6px 12px;
  border-radius: 50%;
  transition: all 0.9s;
}

label #cancel {
  z-index: 2;
  opacity: 0;
  left: -200px;
  top: 25px;
  font-size: 30px;
  color: white;
  padding: 6px 12px;
  border-radius: 50%;
  transition: all 0.9s;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 280px;
  opacity: 1;
}

.container {
  width: 100%;
  transition: all 0.3s linear;
}
.content-table {
  background-color: #d4d4d49a;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.8s;
}

#check:checked ~ .container {
  width: 900px;
  margin-left: 350px;
  transition: 0.5;
}

/* 
.wrapper {
  display: flex;
  position: relative;
  z-index: 1;
}

.wrapper .sidebar {
  position: fixed;
  padding-top: 150px;
  width: 240px;
  height: 100%;
  background: #204051;
  left: 0;
  top: 0;
  bottom: 0;
}
.iconcompany {
  margin-top: -140px;
  text-align: center;
}
.iconcompany img {
  width: 150px;
}

.wrapper .sidebar center {
  margin-top: 100px;
}

.wrapper .sidebar h4 {
  color: aliceblue;
}

.sidebar .profile_image {
  width: 80px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.wrapper .sidebar-nav a {
  width: 240px;
  padding: 15px;
  border-bottom: 1px solid rgba((0), 0, 0, 0.05);
  border-top: 1px solid rgba(225, 225, 225, 0.05);
  display: block;
  text-decoration: none;
  color: aliceblue;
  letter-spacing: 2px;
  font-size: 16px;
  transition: 0.5s;
  transition-property: background;
}
.sidebar a:hover {
  background: orangered;
}

label #sidebar-btn {
  color: #3b6978;
  position: fixed;
  cursor: pointer;
  top: 20px;
  left: 250px;
  font-size: 25px;
  margin-bottom: 10px;
  transition: 0.5s;
  transition-property: color;
}
label #sidebar-btn:hover {
  color: red;
}

#check:checked ~ .sidebar {
  left: -250px;
  transition: 0.9s;
}

#check {
  display: none;
} */

/* MODAL */

.main-section {
  margin: 0 auto;
  margin-top: 100px;
  padding: 0;
}

.modal-content {
  background-color: #3b6978;
  opacity: 0.8;
  padding: 0 20px;
  border-radius: 10px;
}

.user-img img {
  height: 120px;
  width: 120px;
}

.user-img {
  margin-top: -60px;
  margin-bottom: 45px;
}

.form-group {
  margin-bottom: 25px;
}

.form-group input {
  height: 40px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  letter-spacing: 2px;
  padding-left: 0px;
  text-align: center;
}

.form-input button {
  width: 100px;
  margin: 20px 0 25px;
  padding: 10px;
}

.btn-login {
  font-size: 19px;
  border-radius: 5px;
  padding: 7px 14px;
}

.forgot {
  padding: 5px 0 25px;
}

.forgot a {
  color: blue;
  font-size: 16px;
}

/* USERFORM */
.modal-content-userform {
  margin-top: -100px;
}

.modal-userform {
  margin: 40px 40px;
}

.modal-userform button {
  width: 100px;
  margin: 10px;
  padding: 10px;
}

.modal-content-userform input {
  margin: auto;
}
/* logout */
.logout {
  margin-top: 100px;
  margin-left: 140px;
  letter-spacing: 2px;
}

/* UserForm */

.icon-img img {
  height: 100px;
  width: 100px;
}

.icon-img {
  margin-top: -50px;
  margin-bottom: 45px;
}

/* user table */
.pagination {
  justify-content: center;
}

.btn-delete {
  letter-spacing: 3px;
}
.btn-edit {
  letter-spacing: 3px;
}

.content-table p {
  font-size: 10px;
}

td {
  letter-spacing: 2px;
  border-radius: 10px;
  border-bottom: 1px solid #84a9ac;
}
