.main-section {
  margin: 0 auto;
  margin-top: 100px;
  padding: 0;
}
.modal-content {
  background-color: #434e5a;
  opacity: 0.8;
  padding: 0 18px;
  border-radius: 10px;
}

.user-img img {
  height: 120px;
  width: 120px;
}

.user-img {
  background-color: none;
  margin-top: -60px;
  margin-bottom: 45px;
}
.form-group {
  margin-bottom: 25px;
}

.form-group input {
  height: 42px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  letter-spacing: 2px;
  padding-left: 54px;
}

.form-input button {
  width: 40%;
  margin: 20px 0 25px;
}
.btn-danger {
  font-size: 19px;
  border-radius: 5px;
  padding: 7px 14px;
  border: 1px solid seagreen;
}
.forgot {
  padding: 5px 0 25px;
}
.forgot a {
  color: blue;
  font-size: 16px;
}
